.content {
  background-image: radial-gradient(circle at 2px 2px, var(--color-medium-light-blue) 3px, transparent 0);
  background-size: 40px 40px;
  height: 100%;
  margin: 86px 32px;
}

.intro {
  max-width: 900px;
  margin-left: 33px;
  margin-top: 13px;
  display: inline-block;
  font-weight: 300;
  letter-spacing: -2px;
}
.intro span {
  color: var(--title-first-character-color);
}
.intro .virus {
  animation: spin 6s linear infinite;
  position: absolute;
  margin-left: 20px;
}

@keyframes spin { 
  100% { 
    transform:rotate(360deg); 
  } 
}

.cardPrints {
  position: absolute;
  right: 5%;
  top: 350px;
  width: 670px;
  height: 670px;
}
.cardPrints img {
  position: absolute;
  transition: all 0.2s;
}
.cardPrints .robot {
  bottom: 80px;
}
.cardPrints:hover .robot {
  transform: translate(-30px, 30px);
}
.cardPrints .gear {
  left: 180px;
}
.cardPrints:hover .gear {
  transform: translate(0, -30px);
}
.cardPrints .moistureSensorCap {
  right: 0;
  bottom: 100px;
}
.cardPrints:hover .moistureSensorCap {
  transform: translate(30px, 30px);
}
.cardPrintsInfo {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  justify-content: center;
  flex-direction: column;
}
.cardHeader {
  background-color: var(--color-red);
  color: var(--color-white);
  padding: 1rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 3rem;
  line-height: 3rem;
  margin-left: 5rem;
  transition: all 0.2s;
}
.cardPrints:hover .cardHeader {
  transform: scale(1.2);
}
.cardDescription {
  background-color: var(--color-blue);
  color: var(--color-white);
  padding: 1rem;
  font-weight: 400;
  font-size: 2rem;
  line-height: 3rem;
  margin-right: 5rem;
}

.cardWormBin {
  position: absolute;
  left: 154px;
  top: 840px;
}
.cardWormBinInfo {
  display: flex;
  align-items: center;
  position: absolute;
  top: 400px;
  left: 500px;
  justify-content: center;
  flex-direction: column;
}
.wormBinImage {
  transition: all 0.2s;
}
.cardWormBin:hover .wormBinImage {
  transform: scale(0.9);
}
.cardWormBin:hover .cardHeader {
  transform: scale(1.2);
}

.handWire {
  position: absolute;
  right: 0;
  top: 1392px;
}

.nav {
  background-color: var(--color-blue);
  min-width: 580px;
  position: absolute;
  left: 30%;
  top: 1873px;
  z-index: 10;
}
.nav ul li {
  list-style: none;
}
.nav ul li {
  border-bottom: solid 1px var(--color-dark-blue);
}
.nav ul li a {
  color: var(--color-white);
  text-transform: uppercase;
  display: grid;
  grid-template-columns: 1fr auto;
  padding: 2rem;
  font-size: 5rem;
  line-height: 5rem;
  font-weight: 276;
  font-stretch: 83%;
  font-style: normal;
  transition: all 0.2s;
  gap: 2rem;
}
.nav ul li a:hover {
  font-weight: 573;
  font-size: 5rem;
  font-stretch: 96%;
}
.nav ul li a span {
  text-transform: lowercase;
  font-size: 2rem;
  font-weight: 400;
  font-stretch: normal;
  align-self: end;
  line-height: 3rem;
}

.soldering {
  position: absolute;
  right: 0;
  top: 2500px;
}
.smokeWrap {
  position: absolute;
  left: 30%;
  transform: translateX(-50%);
  bottom: 222px;
}
.smoke,
.smoke2,
.smoke3 {
  filter: blur(5px);
  transform-origin: 50% 50%;
}
.smoke {
  animation: smoke1 3s linear infinite;
  animation-delay: 0.5s;
}
.smoke2 {
  animation: smoke2 3s linear infinite;
  animation-delay: 1.5s;
}
.smoke3 {
  width: 500px;
  animation: smoke3 4s linear infinite;
  animation-delay: 2.5s;
}
.solderingIron {
  transform: translateY(760px);
}

@keyframes smoke1 {
  0% {
    filter: blur(0px);
    transform: translateY(0px) scale(-1, 1);
    opacity: 0;
  }

  25% {
    filter: blur(3px);
    transform: translateY(-10px) scale(-1, 1.05);
    opacity: 0.5;
  }

  50% {
    filter: blur(5px);
    transform: translateY(-20px) scale(-1, 1.1);
    opacity: 1;
  }

  75% {
    filter: blur(5px);
    transform: translateY(-30px) scale(-1, 1.15);
    opacity: 0.5;
  }

  100% {
    filter: blur(7px);
    transform: translateY(-40px) scale(-1, 1.2);
    opacity: 0;
  }
}

@keyframes smoke2 {
  0% {
    filter: blur(0px);
    transform: translateY(0px) scale(1);
    opacity: 0;
  }

  25% {
    filter: blur(3px);
    transform: translateY(-10px) scale(1.05);
    opacity: 0.5;
  }

  50% {
    filter: blur(5px);
    transform: translateY(-20px) scale(1.1);
    opacity: 1;
  }

  75% {
    filter: blur(5px);
    transform: translateY(-30px) scale(1.15);
    opacity: 0.5;
  }

  100% {
    filter: blur(7px);
    transform: translateY(-40px) scale(1.2);
    opacity: 0;
  }
}

@keyframes smoke3 {
  0% {
    filter: blur(0px);
    transform: translateY(0px) scale(1);
    opacity: 0;
  }

  25% {
    filter: blur(3px);
    transform: translateY(-20px) scale(1.05);
    opacity: 0.5;
  }

  50% {
    filter: blur(5px);
    transform: translateY(-40px) scale(1.1);
    opacity: 1;
  }

  75% {
    filter: blur(5px);
    transform: translateY(-60px) scale(1.15);
    opacity: 0.5;
  }

  100% {
    filter: blur(7px);
    transform: translateY(-80px) scale(1.2);
    opacity: 0;
  }
}