.intro {
  max-width: 900px;
  margin-left: 65px;
  margin-top: 100px;
}
.intro span {
  color: var(--title-first-character-color);
}

.cardPrints {
  position: absolute;
  right: 5%;
  width: 670px;
  height: 670px;
}
.cardPrints img {
  position: absolute;
  transition: all 0.2s;
}
.cardPrints .robot {
  bottom: 80px;
}
.cardPrints:hover .robot {
  transform: translate(-30px, 30px);
}
.cardPrints .gear {
  left: 180px;
}
.cardPrints:hover .gear {
  transform: translate(0, -30px);
}
.cardPrints .moistureSensorCap {
  right: 0;
  bottom: 100px;
}
.cardPrints:hover .moistureSensorCap {
  transform: translate(30px, 30px);
}
.cardInfo {
  display: flex;
  justify-items: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  justify-content: center;
  flex-direction: column;
}
.cardHeader {
  background-color: var(--color-red);
  color: var(--color-white);
  padding: 1rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 3rem;
  line-height: 3rem;
  margin-left: 5rem;
  transition: all 0.2s;
}
.cardPrints:hover .cardHeader {
  padding: 2rem;
}
.cardDescription {
  background-color: var(--color-blue);
  color: var(--color-white);
  padding: 1rem;
  font-weight: 400;
  font-size: 2rem;
  line-height: 3rem;
  margin-right: 5rem;
}

.nav {
  background-color: var(--color-blue);
  min-width: 580px;
  position: absolute;
  left: 30%;
  top: 80vh;
  z-index: 10;
}
.nav ul li {
  list-style: none;
}
.nav ul li {
  border-bottom: solid 1px var(--color-dark-blue);
}
.nav ul li a {
  color: var(--color-white);
  text-transform: uppercase;
  display: grid;
  grid-template-columns: 1fr auto;
  padding: 2rem;
  font-size: 5rem;
  line-height: 5rem;
  font-weight: 276;
  font-stretch: 83%;
  font-style: normal;
  transition: all 0.2s;
  gap: 2rem;
}
.nav ul li a:hover {
  font-weight: 573;
  font-size: 5rem;
  font-stretch: 96%;
}
.nav ul li a span {
  text-transform: lowercase;
  font-size: 2rem;
  font-weight: 400;
  font-stretch: normal;
  align-self: end;
  line-height: 3rem;
}